:root{
    --mainColor:#15202B;
    --secondaryColor:#192734;

    --borderColor:#164d56; 

    --mainText:#fff; 
    --secondaryText:#eeeeee;

    --theme-dot-border:#fff;

    --previewBg:rgb(25, 39, 52, 0.8);

    --preview-shadow:#111921;

    --BtnColor:#17a2b8; 
}